.curved-loop-jacket {
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  font-family: "Clash Display", sans-serif;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #1447e6;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
